.content

 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: content;
  animation-duration: 20s;
  background-color: black;
	text-transform:uppercase;
	text-align:center;
	font-size:120px;
	border-style:double;
	 border:2px solid black;
  border-radius: 12px;
	border-width:100px;
	height: 400px;
  width: 60%;
   position: relative;
  left: 170px;
  top:10px;
color: white;
  text-shadow: 1px 1px 2px red, 0 0 25px red , 0 0 5px darkblue;
}

@keyframes content{
  0%   {background-color: #B22222;}
  5%  {background-color: yellow;}
  10%  {background-color: blue;}
  15% {background-color: green;}
  20%   {background-color: orange;}
  25%  {background-color: purple;}
  30%  {background-color: brown;}
  35% {background-color: pink;}
    40% {background-color: gray;}
	  45% {background-color: gold;}
	    50% {background-color: lightgreen;}
		  55% {background-color: teal;}
		    60% {background-color: cpral;}
			  65% {background-color: pink;}
			    70% {background-color: darkblue;}
				  75% {background-color: yellow;}
				    80% {background-color: pink;}
					  85% {background-color: lightgreen;}
					  90% {background-color: blue;}
					  95% {background-color: brown;}
					  100% {background-color: yellow;}
					  
 }	
 
		
.button
{
position: fixed;
right:10px;
top:530;
left:560;
width: 220px;
height: 80px;
padding: 15px;
background-color: green;
border-style: solid;
border-color: black;
text-transform:uppercase;
	text-align:center;
	font-size:30px;
	color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}
.marquee
{
position: fixed;
right:10px;
top:20;
left:200;
font-size:60px;
width: 80%;
text-transform: uppercase;
height: 100vh;
display: flex;
justify-content:  center;
align-items: center;
font-size: 3rem;
font-family: verdana;
animation: animate 10s linear infinite;
padding-left: 100%;
display: inline-block;
color:white;
text-shadow: 1px 1px 2px blue, 0 0 25px red, 0 0 5px yellow;
}

@keyframes  animate
{
100%
{
	transform: translate(-100%, 0);
	
}
}

.Countdown
{
position: absolute;
top: 65;
left: 400;
width: 220px;
height: 55px;
transform : translateX(-50%) translateY(-50%);
text-align: center;
background: brown;
bolder: 1px solid #999;
padding: 10px;
box-shadow: 0 0 5px 3px #ccc;
border-style: outset;
border-color: black;
}

.info
{
	font-size: 15px;
	
}

.img
{
	top:500;
	padding: 50px;
	border-radius: 50%;
}

.slideshow
{
	margin: 0 auto;
	padding-top:0px;
	height:0px;
	
}

.slideimg
{
	top:170;
	margin:auto;
	width:190px;
	perspective:1000px;
	position:relative;
	padding-top:80px;
}

.content-carrousel
{
	width:100%;
	position:absolute;
	float:right;
	animation:rotar 15s infinite linear;
	transform-style:preserve-3d;
}

.content-carrousel:hover
{
	animation-play-state:paused;
	cursor:pointer;
}

.content-carrousel figure
{
	width:100%;
	height:120px;
	border:1px solid #4d444d;
	overflow:hidden;
	position:absolute;
}


.content-carrousel figure:nth-child(1)
{
	transform:rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2)
{
	transform:rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3)
{
	transform:rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4)
{
	transform:rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5)
{
	transform:rotateY(160deg) translateZ(300px);
}.content-carrousel figure:nth-child(6)
{
	transform:rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7)
{
	transform:rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8)
{
	transform:rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9)
{
	transform:rotateY(320deg) translateZ(300px);
}


.shadow
{
	position:absolute;
	box-shadow:0px 0px 20px 0px #000;
	border-radius:2px;
}

.content-carrousel img
{
	image-rendering:auto;
	transition:all 300ms;
	width:100%;
	height:100%;
}

.content-carrousel img:hover
{
	transform:scale(1.2);
	transition:all 300ms;
}

@keyframes rotar
{
	from{
		transform:rotateY(0deg);
		}to{
	transform:rotateY(320deg);
}
}


.m1
{
	position:fixed;
left:1%; 
width:auto;
height:100%;
top:1%;
color:white;
font-size:5x;
text-shadow: 1px 1px 2px red, 0 0 25px black, 0 0 5px red;
	 font-weight: bold;
}

 .m2
 {
	 position:fixed;
	 right:1%; 
	 width:auto;
	 height:100%;
	 top:1%;
	 color:white;
font-size:5x;
text-shadow: 1px 1px 2px red, 0 0 25px black, 0 0 5px red;
	 font-weight: bold;
 }
 
 .caption
 {
	 color: white;
	 text-align:center;
	 font-size:30px;
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight: bold;
	 border-style: outset;
     border-width: 5px;
	 border-color: gray;
	text-shadow: 1px 1px 2px pink, 0 0 25px red, 0 0 5px pink;
 }
 
 .img1
 {
	padding: 50px;
	border-radius: 50%;
	
}
 
 .img2
 {
	padding: 50px;
	border-radius: 50%;
	
}
 
  .wish
 {
	 color: white;
	 text-align:center;
	 font-size:30px;
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight: bold;
	 border-style: outset;
     border-width: 5px;
	 border-color: white;

 }
 
 
 .audio
 {
	 position: fixed;
right:10px;
top: 20;
left:820;
	 border-style: outset;
	 width: 220px;
height: 50px;
padding: 15px;
box-shadow: 0 0 5px 3px #ccc;
border-style: outset;
border-color: black;
background: brown;
 }
 
 .audio1
 {
	 position: fixed;
right:10px;
top:85%;
left:89%;
	 border-style: outset;
	 width: 100px;
height: 30px;
padding: 15px;
box-shadow: 0 0 5px 3px #ccc;
border-style: outset;
border-color: black;
background: black;
 }
 
.caption1
{
	color: white;
	 text-align:center;
	 font-size:30px;
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight: bold;
	 text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px red;
}
 
 
 
 
 
 